package dashboard

import "bizbundl/ui"

templ Dashboard() {
	@ui.BaseComponent("", "Home", true) {
		<main
			class="max-w-6xl mx-auto px-6 py-16 md:py-24 space-y-24 md:space-y-32 overflow-hidden"
		>
			<h1>Dashboard</h1>
		</main>
	}
}
